.khan__container_buy-link{
    text-decoration: none;
    color: #2f80ed;
    font-size: 30px;
    font-weight: normal;
    line-height: 42px; 
    height: 100%;
}
.khan__container_buy-link:hover{
    opacity: .5;
    transition: opacity .2s ease;
}