@import url(./__container/khan__container.css);
.khan{
    background-color: #f2f2f2;
      width: 100%;  
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 105px;
    }
